.navbar-bottom {
  display: flex ;
  flex-direction: column;
  align-items: center ;
  margin-top: 30px ;
}
.navbar-center-b {
  display: none ;
  margin-bottom: 20px ;
}

.navbar-search {
  display: flex;
  align-items: stretch;
  background-color: white ;
  border-radius: 50px ;
  width: 60vw ;
  height: 75px ;
}
.navbar-search-component {
  border-radius: 50px ;
  background-color: red ;
  cursor: pointer;
  
  transition: .3s ease-out ;
}
.navbar-search-component:hover {
  background-color: rgb(230, 232, 252);
}

.guests {
  flex: .28 ;
}
.location {
  flex: .35 ;
}
.check {
  flex: .2.5 ;
}